*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgba(87, 216, 115, 0.863), rgba(236, 233, 233, 0.692))
}
.main-container{
    width: 450px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.863), rgba(255, 255, 255, 0.692));
    box-shadow: 0 0 10px black;
    text-align: center;
}
h1{
    margin-bottom: 2rem;
    letter-spacing: 1px;
}
.input-box{
    text-align: left;
    margin-bottom: 2rem;
}
/* label{
    /* text-align: left; */
    /* display: block; */
/* } */ 

.input-box input{
    width: 100%;
    padding: 20px;
    border: 1px solid silver;
    border-radius: 15px;
    outline:none;
    font-size: 20px;
}
.input-box input::placeholder{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
button{
    width: 100%;
    padding: 20px;
    border: 1px solid silver;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: green;
    color: white;
    transition: 0.3s ease;
}
button:hover{
    background-color: rgb(3, 172, 3);
    transform:translateY(-3px);
    box-shadow: 0 10px 15px black;
}
.result{
    margin-top: 2rem;
    font-family: 25px;
    font-weight: bold;
}

